.content-head__container
    .content-head__title-wrap
       .content-head__title-wrap__title.bcg-title
            | Последние товары
    .content-head__search-block
        .search-container
            form.search-container__form
                input(type='text').search-container__form__input
                button.search-container__form__btn
                    | search
.content-main__container
    .products-columns
        if products
            each product in products
                .products-columns__item
                    .products-columns__item__title-product
                        a.products-columns__item__title-product__link(href="/product/" + product.id)=product.title
                    .products-columns__item__thumbnail
                        a(href="/product/" + product.id).products-columns__item__thumbnail__link
                            img(src= product.image_url, alt="Preview-image")
                    .products-columns__item__description
                        span.products-price #{product.price} руб.
                        a(href="#" data-product_id=product.id).btn.btn-blue
                            | Купить
.content-footer__container
    include ../pagination